.tab {
    margin:0;
    text-indent: 50px;
}
.picturebio {
    margin-left: 50px;
    height: 400px;
    width: 500px;
}
.pictureofme {
    float: left;
    position: absolute;
    left: 650px;
    top: 200px;
}

