canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

#container1 {
    position: absolute;
    left: 50%;
    z-index: 999;
    height: 276px;
    width: 350px;
}
#container2 {
    position: absolute;
    left: 50%;
}
#gameInfo {
    height: 250px;
    width: 600px;
    margin: 750px auto;
}
#currentScore {
    position: relative;
    float: left;
    height: 30px;
    width: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}
#currentScoreText {
    width: 180px;
    margin-left: 10px;
    margin-top: 6px;
}
#highScore {
    position: relative;
    height: 30px;
    width: 200px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    float: right;
}
#highScoreText {
    width: 180px;
    margin-left: 10px;
    margin-top: 6px;
}
#characterChoice {
    position: relative;
    margin-top: 40px;
}
body {
    background-image: url("../img/stone-rock-mountain-dragon.jpg");
}
#score {
    color: whitesmoke;
}
