body {
    margin:0;
}
.tab {
    margin:0;
    text-indent: 50px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
    color: white;
}
hr {
    background-color: #69253A;
    margin: 100px auto 10px auto;
    width:80%;
    border: 0;
    border-radius: 5px;
    height: 8px;
    box-shadow: 5px 5px 10px 0px #888888;
}
h6 {
    position: center;
    margin: 0 auto;
}
@keyframes titlemove {
    from {left: 1200px;}
    to {left: 450px;}
}
body {
    font-family: Times;
    font-size: medium;
}
@media screen and (max-width: 600px) {
    div#headertitle {
        position: absolute;
        left: 100px;
        top: 190px;
        opacity: .4;
    }
}
#headerimg {
    background-image: url('../img/headerbackground.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    height: 300px;
    border: none;
}
#headertitle {
    animation: titlemove 5s;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 150%;
    font-weight:lighter;
    text-align: center;
    text-shadow: 2px 2px #888888;
    position: relative;
    float: left;
    left: 450px;
    top: 110px;
    color: white;
}
#mypic {
    position: absolute;
    top: 50px;
    left: 70px;
    height: 250px;
    opacity: .6;
}
#leftbutton {
    padding: 5px 25px 5px 65px;
    border-right: 1px solid #6B8AA1;
    float: left;
    color: white;
    margin: 5px;
}
.middlebuttons {

    padding: 5px 25px 5px 10px;
    border-right: 1px solid #6B8AA1;
    float: left;
    color: white;
    margin: 5px;
}
.rightbutton {
    padding: 5px 25px 5px 10px;
    float: left;
    color: white;
    margin: 5px;
}
#biobackground {
    background-image:url("../img/biobackground.png");
    background-size: 100% 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#bioimage {
    height:275px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 20px 10px 10px 1px #888888;
    opacity: 0.6;
    margin: 50px 25px 50px 0px;
}
#bio {
    width: 400px;
    margin: 25px 25px 25px 25px;
}
a.button {
    color: black;
}
#projects {
    background-color: white;
    height: 550px;
    width: 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;
    top: 40px;
}
.projectimages:hover {
    width: 110%;
    height: 110%;
    top: -20px;
    left: -20px;
}
.projectimages {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: scale(1);
    position: relative;
}
.projectdiv1 {
    background-position: left;
    height: 400px;
    width: 300px;
    float:left;
    margin-left: 190px;
    margin-right: 30px;
    color: black;
}
.projectdiv2 {
    background-position: center;
    height: 465px;
    width: 375px;
    float:left;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    color: black;
}
.projectdiv3 {
    background-position: right;
    height: 400px;
    width: 300px;
    float:left;
    margin-left: 35px;
    color: black;
}
.content1 {
    position: absolute;
    left: 200px;
    top:400px;
    float: left;
    height: 100px;
    width: 300px;
    color: black;
    transform: scale(1);
}
.content2 {
    position: absolute;
    left: 570px;
    top: 480px;
    float:left;
    height: 100px;
    width: 350px;
    color: black;
    transform: scale(1);
}
.content3 {
    position: absolute;
    left: 1010px;
    top: 400px;
    float: left;
    height: 100px;
    width: 300px;
    color: black;
    transform: scale(1);
}
.quote1 {
    margin: 30px auto 0px auto;
}
.quote2 {
    margin: 25px 300px 0px auto;
}
#footerimage {
    background-image:url("http://infotogelnusa.com/wp-content/uploads/2016/02/Dark-Blue-Grey-Background-6.jpg");
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
.footermenu1 {
    color: white;
    margin: 35px auto 15px 200px;
    position: absolute;
    left: 0px;
    top: 50px;
    width: 50px;
}
.footericon1 {
    margin: 30px auto 15px 100px;
    height: 30px;
    float: left;
    position: relative;
}
.footericon2 {
    margin: 30px auto 15px -31px;
    height: 32px;
    float: left;
    position: relative;
    top: 50px;
}
.footericon3 {
    margin: 30px auto 15px -31px;
    height: 30px;
    float: left;
    position: relative;
    top: 100px;
}
.footericon4 {
    margin: 30px auto 15px -31px;
    height: 30px;
    float: left;
    position: relative;
    top: 150px;
}
.footermenutitle1 {
    color: white;
    margin:  0px 0px 15px 300px;
    border-bottom: solid 2px;
    position: relative;
    top: 35px;
    width: 50px;
}
.footermenu1 {
    color: white;
    margin: 35px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu2 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu3 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu4 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu5 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.easteregg {
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
    opacity: .0;
}
