h1 {
    background-color: #5A7353;
    text-align: center;
}
input {
    background: none;
}
::-webkit-input-placeholder {
    color: #222222;
}
#scorecard {
    height: 800px;
    width: 1502px;
    position: relative;
    margin: 25px auto;
    border: 1px solid black;
    border-radius: 8px;
    z-index: 2;
}
#background {
    height: 800px;
    width: 1502px;
    position: absolute;
    top: 0px;
    margin: 0 auto;
    background-image: url('../img/newGolfCourse.jpg');
    opacity: .25;
    z-index: -1;
    border-radius: 10px;
}
#myWeather {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
#weatherImg {
    position: relative;
    float: left;
    margin-right: 15px;
}
#getWeather {
    position: relative;
    float: left;
    margin-right: 50px;
    margin-left: 20px;
    border-radius: 4px;
}
#map {
    position: relative;
    height: 600px;
    width: 400px;
    border-radius: 10px;
    margin: 55px 0 25px 25px;
    border: 1px solid black;
}
.pointer {
    transition: all .2s ease-in-out;
}
.pointer:hover {
    cursor: pointer;
    transform: scale(1.1);
}
#topCard {
    top: -650px;
    position: relative;
    float: right;
    height: 280px;
    width: 965px;
    margin: 25px 50px 25px 50px;
}
#bottomCard {
    top: -650px;
    position: relative;
    float: right;
    height: 280px;
    width: 965px;
    margin: 10px 50px 25px 50px;
}
.r1 {
    float: left;
    width: 400px;
    margin: 10px 15px 0 10px;
}
.r2 {
    float: left;
    width: 500px;
    margin: 10px auto 0 0;
}

.gold {
    background-color: #FFE57A;
}
.blue {
    background-color: #4760B4;
}
.white {
    background-color: #DAE5EB;
}
.red {
    background-color: #9D1517;
}

.topCardTitles {
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 28px;
    text-align: center;
}
.rowTitles {
    width: 35px;
    height: 28px;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
#addPlayer {
    position: relative;
    float: left;
    margin: 0 25px 0 72px;
    border-radius: 5px;
}
#removePlayer {
    position: relative;
    float: left;
    border-radius: 5px;
}












































#mytestCourse {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
.totalTitle {
    width: 50px;
    height: 28px;
    position: relative;
    float: right;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
}
.holenumbertitle {
    position: relative;
    float: right;
    width: 35px;
    height: 28px;
    text-align: center;
    border: 1px solid darkgray;
    border-radius: 10px;
}
#infoplayer0 {
    background-color: #FFE57A;
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#infoplayer1 {
    background-color: #4760B4;
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#infoplayer2 {
    background-color: #DAE5EB;
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#infoplayer3 {
    background-color: #9D1517;
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#infoplayer4 {
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#infoplayer5 {
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}

#courseInformation {
    width: 100%;
    height: 30%;

}
#players {
    width: 100%;
    height: 30%;
}
.playerClass {
    border: 1px solid darkgray;
    width: 35px;
    height: 28px;
}
#holeInputs {
    position: relative;
    float: left;
    width: 35px;
    height: 28px;
}
.holeBox {
    width: 35px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
.grandTotal {
    position: relative;
    float: right;
    width: 50px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
    z-index: 1;
}
#playerInput {
    margin: 25px 20px 20px 20px;
    float: right;
    border: 1px solid darkgray;
    border-radius: 10px;
    position: relative;
    height: 800px;
    width: 830px;
}
#rightcard {
    margin-top: 52px;
    float: left;
    width: 680px;
}
#rightInfoCard {
    margin-top: 52px;
    float: left;
    width: 630px;
}
.holecol {
    position: relative;
    float: right;
    width: 35px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
.playerbox {
    width: 120px;
    height: 28px;
    border: 1px solid darkgrey;
    text-align: center;
}
#leftcard {
    float: left;
    margin-top: 80px;
}
#leftInfoCard {
    float: left;
    margin-top: 80px;
}

#myCard {
    height: 60px;
    width: 50%;
    float: right;
}
#numberOfPlayers {
    height: 26px;
    width: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 25px;
}





body {
    margin:0;
}
p {
    margin:0;
}

h6 {
    position: center;
    margin: 0 auto;
}
body {
    font-family: Times;
    font-size: medium;
}
#headerimg {
    background-image: url("http://infotogelnusa.com/wp-content/uploads/2016/02/Dark-Blue-Grey-Background-6.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    height: 50px;
    border: none;
}
.textbody {
    text-decoration-color: white;
}
.center {
    text-align: center;
}
a:link {
    text-decoration: none;
    color:white;
}
a:visited {
    text-decoration: none;
    color:white;
}
#leftbutton {
    padding: 5px 25px 5px 65px;
    border-right: 1px solid #6B8AA1;
    float: left;
    color: white;
    margin: 5px;
}
.middlebuttons {
    padding: 5px 25px 5px 10px;
    border-right: 1px solid #6B8AA1;
    float: left;
    color: white;
    margin: 5px;
}
.rightbutton {
    padding: 5px 25px 5px 10px;
    float: left;
    color: white;
    margin: 5px;
}


@media screen and (max-width: 550px) {
    div.underphoto {
        width: 500px;
    }
}
@media screen and (min-width: 551px) and (max-width: 900px) {
    div.underphoto {
        width: 700px;
    }
}
@media screen and (max-width: 400px) {
    div.underphoto {
        width: 500px;
    }
}

.tab {
    margin:0;
    text-indent: 50px;
}
.picturebio {
    margin-left: 50px;
    height: 300px;
    width: 500px;
}
.pictureofme {
    float: left;
    position: absolute;
    left: 650px;
    top: 200px;
}
.underphoto {
    margin: 25px 50px 25px 50px;
}
.icons {
    height: 200px;
}



#footerimage {
    background-image: url("http://infotogelnusa.com/wp-content/uploads/2016/02/Dark-Blue-Grey-Background-6.jpg");
    height: 250px;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
.footericon1 {
    margin: 30px auto 15px 100px;
    height: 30px;
    float: left;
    position: relative;
}
.footericon2 {
    margin: 30px auto 15px -31px;
    height: 32px;
    float: left;
    position: relative;
    top: 50px;
}
.footericon3 {
    margin: 30px auto 15px -31px;
    height: 30px;
    float: left;
    position: relative;
    top: 100px;
}
.footericon4 {
    margin: 30px auto 15px -31px;
    height: 30px;
    float: left;
    position: relative;
    top: 150px;
}
.footermenutitle1 {
    color: white;
    margin:  0px 0px 15px 300px;
    border-bottom: solid 2px;
    position: relative;
    top: 35px;
    width: 50px;
}
.footermenu1 {
    color: white;
    margin: 35px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu2 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu3 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu4 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}
.footermenu5 {
    color: white;
    margin: 10px auto 10px 300px;
    position: relative;
    left: 0px;
    top: 15px;
}










